// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
    background-color: #d8a990;
    color: rgb(255, 255, 255);
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 5vw;
    text-align: center;
    color: antiquewhite;
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px rgb(255, 255, 255);
}
h2 {
    font-size: 3vw;
}

.content-link {
    display: inline;
}
.content-image {
    display: block;
}

.profile-image {
    border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
    position: relative;
}
.header-image {
    width: 100%;
}
.navbar {
    padding: 0px;
}
#navber {
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    border-bottom: solid 1px rgb(255, 255, 255);
    border-top: solid 1px rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    // border-style: solid;
    // background: linear-gradient(#d4d4d4, #363636);
    // margin: auto;
    // position: fixed;
    .navbar-brand {
        padding: 0px;
        font-size: 3vw;
    }
    a {
        color: #e9e9e9;
        font-style: normal;
        font-weight: bold;
    }
    .navbar-toggler {
        border-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
}
#profile {
    margin: 20px 0px 20px 0px;
}
#about {
    margin: 20px 0px 20px 0px;
}
#content {
    margin: 20px 0px 20px 0px;
    // margin-bottom: 10px;
}
.container {
    margin: 30px 30px 30px 30px;
}
#footer {
    // background: #ffffff;
    border-color: rgb(255, 255, 255);
    color: #e9e9e9;
    width: 100%;
    border-top: solid 1px rgb(255, 255, 255);
    // text-align: center;
    padding: 30px 0;
    // position: absolute; /*←絶対位置*/
    bottom: 0; /*下に固定*/
    li {
        list-style-type: none;
    }
}

// ボタン
